<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" ng-app="dimestApp">
  <head>

    <title>Content - Dimest</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <link type="text/css" rel="stylesheet" href="css/layouts.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js"></script>
    <script type="text/javascript" src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script type="text/javascript" src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
    <script type="text/javascript" src='https://cdn.firebase.com/js/simple-login/1.2.3/firebase-simple-login.js'></script>
    <script type="text/javascript" src="js/libs/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="js/project.js"></script>
    <script type="text/javascript" src="js/directive.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/filter.js"></script>
    <script type="text/javascript" src="js/factory.js"></script>
    <script type="text/javascript" src="js/service.js"></script>

  </head>

  <body ng-controller="myCtrl">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-3 col-xs-3">
            <div id="logo"><a href="/"><img alt="Dimest" src="images/logo.png"></a></div>
          </div>
          <div class="col-md-2 clearfix col-sm-3 hidden-xs">
            <div class="cart-heading">
              <p class="pull-left">Browse Products</p>
              <p class="pull-right"><img alt="Cart" src="images/cart-img.png"></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-6 col-xs-offset-3">
            <div class="searcharea">
              <form action="#">
                <div class="clearfix">
                  <div class="pull-left">
                    <input type="text" placeholder="search Dimest|" ng-model="searchDimest">
                  </div>
                  <div class="pull-right">
                    <input type="submit" value="Search">
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-2 col-xs-3">
              <div class="social-media clearfix">
                <ul>
                  <li><a href="#" class="twitter">Twitter</a></li>
                  <li><a href="#" class="tumblr">Tumblr</a></li>
                </ul>
              </div>
            </div>
            <div class="log_info col-lg-6 col-md-9 log_info col-sm-8 col-xs-7">
              <div class="log-details"> 
                <!-- <p>Logged in as<span class="profile-name">evi@dimest.com</span></p> -->
                <button ng-hide="userid" ng-click="signin()">Sign in to personalize</button>
                <p ng-show="userid">'{{userid}}'</p>
              </div>
            </div>
            <div class="col-md-9 log_info col-lg-3 col-sm-2 col-xs-2">
              <p class="log-stat out">Log out</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="main-display" class="container">
      <div class="navbar navbar-inverse navbar-static-top clearfix">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div role="navigation" class="nav-wrap navbar-collapse collapse clearfix">
          <ul class="nav">
            <li><a href="#">Upload</a></li>
            <li class="active"><a href="#">My Shops</a></li>
            <li><a href="#">My Products</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">My Profile</a></li>
          </ul>
        </div>
      </div>
      <div class="breadcrumbs clearfix">
        <ul class="breadcrumb">
          <li><a href="#">My Shops</a></li>
          <li>Content</li>
        </ul>
      </div>
      <div id="steps" class="clearfix">
        <ul>
          <li class="active"> <span>1. Content</span></li>
          <li> <span>2. Design</span></li>
          <li> <span>3. Publish</span></li>
        </ul>
      </div>
      <div class="content">
        <div class="row">
          <div ng-view></div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/libs/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="js/libs/main.js"></script>
  
  </body>
</html>