<div class="col-md-6">
  <section>
    <h1>Content</h1>
    <div class="row searcharea">
      <div class="col-lg-7 col-md-12 col-sm-6 col-xs-6">
        <div class="search-product clearfix">
          <form action="#">
            <div class="pull-left">
              <input type="text" placeholder="Select products in your own catalog" ng-model="searchText">
            </div>
            <div class="pull-right">
              <input type="submit" value="Search">
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-6 col-xs-6">
        <div class="product-filter">
          <input type="checkbox" ng-model="searchAllProduct" value="false">
          <p>Only show my own products</p>
        </div>
      </div>
    </div>
    <div class="file-box">
      <div class="recently-added-products clearfix">
        <h5>My Recently added products:{{userid}}</h5>

        <div class="product-list" ng-repeat="product in products | orderByPriority | filter:{user:userid} |filter:searchText| orderBy:'type'">
          <product-row info="product"></product-row>
        </div>
        <a class="btn-link" href="#/new">upload new <span>&gt;</span></a>
      </div>

      <div class="search-available-products">
        <h5>Search among All Available Products:&nbsp;&nbsp;<span>(your own &amp; other) </span></h5>
        <div class="product-list" ng-repeat="product in products | orderByPriority | filter:filterProducts() | startFrom:currentPage*pageSize | limitTo:pageSize">
          <product-row info="product"></product-row>
        </div>
        <div class="product-pagination">
          <ul>
            <li>
              <ul>
                <li>
                  <ul>
                    <li><a class="first-page" ng-disabled="currentPage == 0" ng-click="currentPage=0">First Page</a></li>
                    <li><a class="prev-page" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous Page</a></li>
                    <li>
                      <input type="text" placeholder="{{currentPage+1}}">
                    </li>
                    <li><span class="filenumber-per-page">/{{numberOfPages()}}</span></li>
                    <li><a class="next-page" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next page</a></li>
                    <li><a class="last-page" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=numberOfPages()-1">Last Page</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <p><span>[</span>
                <label>{{(currentPage * pageSize)+1}} - {{(currentPage * pageSize)+pageSize}} / {{numberOfPages()*pageSize}}</label><span>&nbsp;] </span>
              </p>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</div>  
<div class="col-md-6">
  <aside>
    <h3>add tabs</h3>
    <h6>Find products and drag them into selected shop tab </h6>
    <product-tabs>
      <product-pane title="Music"></product-pane>
      <product-pane title="Video"></product-pane>
      <product-pane title="Ebook"></product-pane>
      <product-pane title="Other"></product-pane>
    </product-tabs>
    <div class="drag-drop clearfix">
      <p>drag &amp; drop</p><span class="file-cloud"></span>
      <p>products up here</p>
    </div><a class="btn-link">next <span>&gt;</span></a>
  </aside>
</div>              