<form name="myForm"  class="padding-20" role="form" class="form-text">
  <div class="form-group" ng-class="{error: myForm.name.$invalid && !myForm.name.$pristine}">
    <label> What is your product name ?</label>
    <input type="text" name="name" ng-model="product.name" placeholder="Give a catchy name" required>
    <span ng-show="myForm.name.$error.required && !myForm.name.$pristine" >Required</span>
  </div>

  <div class="form-group" ng-class="{error: myForm.type.$invalid && !myForm.type.$pristine}">
    <label>Product type is <span class="pdt-type-text">{{product.type.name}}</span>
      <span ng-show="myForm.type.$error.required">not selected</span>. To modify</label>
    <select name="type" ng-model="product.type" ng-options="t.name for t in producttypes" required>
      <option value="">--choose here--</option>
    </select>
    <span ng-show="myForm.type.$error.required && !myForm.name.$pristine" >Required</span>
  </div>  

  <br>
  <a href="#/" class="btn inline-blk">Cancel</a>
  <button ng-click="save()" ng-disabled="myForm.$invalid"
          class="btn btn-primary inline-blk">Save</button>
  <button ng-click="destroy()"
          ng-show="product.$remove" class="btn btn-danger inline-blk">Delete</button>
</form>